In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('export.csv',delimiter=';')
df.head()

   08-06-2020 08-06-2020.1                picopizza.dk  -238,00  11.278,33
0  08-06-2020   08-06-2020  Dankort Netto H.C Ørstedsv  -390,75  11.516,33
1  03-06-2020   03-06-2020     Dankort Kantinen OPA 34   -19,80  11.907,08
2  03-06-2020   03-06-2020   Dankort REMA 1000 Århus C   -51,15  11.926,88
3  02-06-2020   02-06-2020   Dankort REMA 1000 Århus C   -71,40  11.978,03
4  02-06-2020   02-06-2020     Dankort Kantinen OPA 34   -18,90  12.049,43

In [ ]:
df.